
<html>
    <head>
        <title>Demo</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='icon/favicon.ico') }}">
        <meta name="robots" content="noindex, nofollow">
        <meta name="googlebot" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 順序要對 -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery-3.5.1.min.js') }}"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    </head>

    <body>
      <!-- Page Content -->
        <div class="container mt-5">
        
            <h1>
                <a class="font-weight-bold text-center text-lg-left" href="/">Spectrum</a>
            </h1>
            
            <hr class="mt-3 mb-5">

            <!-- Input text-->
            <div class="row mb-5">
                <div class="btn-group col-lg-2 col-md-2 col-12 text-center">
                    <button id="image" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        檔案選擇
                    </button>
                    <ul id="image_name" class="dropdown-menu">
                    </ul>
                </div>

                <!-- Drop down -->
                <div class="btn-group col-lg-2 col-md-2 col-12 text-center">
                    <button id="light_source" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        光源選擇
                    </button>
                    <ul id="whitebalance" class="dropdown-menu">
                        <li><a class="dropdown-item light_source_dropdown">原圖</a></li>
                        <li><a class="dropdown-item light_source_dropdown">A</a></li>
                        <li><a class="dropdown-item light_source_dropdown">D50</a></li>
                        <li><a class="dropdown-item light_source_dropdown">D65</a></li>
                        <li><a class="dropdown-item light_source_dropdown">D75</a></li>
                    </ul>
                </div>
                <div class="btn-group col-lg-2 col-md-2 col-12 text-center">
                    <button id="degree" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        角度選擇
                    </button>
                    <ul id="degree" class="dropdown-menu">
                        <li><a class="dropdown-item degree_dropdown">15°</a></li>
                        <li><a class="dropdown-item degree_dropdown">45°</a></li>
                        <li><a class="dropdown-item degree_dropdown">75°</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-3 col-12">
                    <button id='spectrum_query' type="button" class="btn btn-success">查詢</button>
                    <button id='add_data' type="button" class="btn btn-outline-primary">新增</button>
                </div>
            </div>

            <!-- test layout -->
            <div class="row">
                <!-- 彩圖 -->
                <div class="col col-lg-6 col-12">
                    <a class="eight d-block mb-1 h-50 text-center">
                    </a>
                    <a class="nine d-block mb-1 h-50 text-center">
                    </a>
                </div>

                <!-- 滾動條 -->
                <div class="roll col-lg-6 col-12 testimonial-group" style="display:none">
                    <div class="row1">
                        <div class="col-xs-12">
                            <div class="one d-block mb-1 text-center">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="two d-block mb-1 text-center">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="three d-block mb-1 text-center">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="four d-block mb-1 text-center">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="five d-block mb-1 text-center">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="six d-block mb-1 text-center">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="seven d-block mb-1 text-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- show original image -->
            <!-- <div class="col-12">
                <div class="row text-center text-lg-left">
                    <div class="col-lg-4 col-md-3 col-12">
                        <a class="one d-block mb-1 h-100">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-3 col-12">
                        <a class="two d-block mb-1 h-100">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-3 col-12">
                        <a class="three d-block mb-1 h-100">
                        </a>
                    </div>
                </div>

                <div class="row text-center text-lg-left">
                    <div class="col-lg-4 col-md-3 col-12">
                        <a class="four d-block mb-1 h-100">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-3 col-12">
                        <a class="five d-block mb-1 h-100">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-3 col-12">
                        <a class="six d-block mb-1 h-100">
                        </a>
                    </div>
                </div>

                <div class="row text-center text-lg-left">
                    <div class="col-lg-4 col-md-3 col-12">
                        <a class="seven d-block mb-1 h-100">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-3 col-12">
                        <a class="eight d-block mb-1 h-100">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-3 col-12">
                        <a class="nine d-block mb-1 h-100">
                        </a>
                    </div>
                </div>
            </div> -->

            <!-- alert Modal -->
            <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Oops !</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            輸入欄位不得為空
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">知道了</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Loading Modal -->
            <div>
                <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="true">
                    <div class="modal-dialog modal-dialog-centered justify-content-center align-items-center" role="document">
                        <div class="text-center">
                            <img src="{{ url_for('static', filename='icon/loading.gif') }}"></img>
                            <div style="color: yellow; font-size: medium; font-weight: bold;">Loading...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>
