<html>
    <head>
        <title>Spectrum analysis</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='icon/favicon.ico') }}">
        <meta name="robots" content="noindex, nofollow">
        <meta name="googlebot" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/line_chart.css') }}">
        <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='vendor/amcharts4/charts.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/amcharts4/core.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/amcharts4/themes/animated.js') }}"></script> -->
    </head>

    <body>
        <div id="chartdiv"></div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/line_chart.js') }}"></script>
    </body>
</html>
