<html>
    <head>
        <title>Spectrum query</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='icon/favicon.ico') }}">
        <meta name="robots" content="noindex, nofollow">
        <meta name="googlebot" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery-3.5.1.min.js') }}"></script> 
    </head>

    <body>
      <!-- Page Content -->
        <div class="container">
        
            <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Spectrum</h1>

            <!-- Input text-->
            <hr class="mt-2 mb-5">
                <div class="row" style="margin-bottom: 50px;">
                    <div class="col">
                        <input id='spectrum_input' type="text" class="form-control" placeholder="請輸入頻譜">
                    </div>
                    <div class="col-sm">
                        <button id='spectrum_query' type="button" class="btn btn-outline-primary">查詢</button>
                    </div>
                </div>
            <!-- <hr class="mt-2 mb-5"> -->
        
            <div class="row text-center text-lg-left">
        
                {% if image1 %}
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="{{image1}}" alt="0">
                    </a>
                </div>
                {% endif %}

                {% if image2 %}
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="{{image2}}" alt="1">
                    </a>
                </div>
                {% endif %}

                {% if image3 %}
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="{{image3}}" alt="2">
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
  </html>