<html>
    <head>
        <title>Spectrum analysis</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='icon/favicon.ico') }}">
        <meta name="robots" content="noindex, nofollow">
        <meta name="googlebot" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 順序要對 -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/spectrum_analysis.css') }}">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery-3.5.1.min.js') }}"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='vendor/amcharts4/charts.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/amcharts4/core.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/amcharts4/themes/animated.js') }}"></script> -->
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Demo platform</a>
        </nav>

        <!-- Page Content -->
        <div class="container mt-3">
            <h1>
                <a class="font-weight-bold text-center text-lg-left" href="/spectrum_analysis">頻譜分析</a>
            </h1>

            <hr class="mt-3 mb-5">

            <div class="row">
                <!-- 圖片位置 -->
                <div class="col-lg-5 col-md-6 col-12 mb-50">
                    <div class="col-12">
                        <img src="{{ url_for('static', filename='icon/colorchecker.jpg') }}" class="rounded" style="border:2px green dashed;" width="400px">
                    </div>
                    <div class="col-12 mt-5 mb-10">
                        <div class="btn-group text-center col-8">
                            <button id="light_source" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                光源選擇
                            </button>
                            <ul id="whitebalance" class="col-12 dropdown-menu text-center" aria-labelledby="light_source">
                                <li><a class="dropdown-item light_source_dropdown">原圖</a></li>
                                <li><a class="dropdown-item light_source_dropdown">A</a></li>
                                <li><a class="dropdown-item light_source_dropdown">D50</a></li>
                                <li><a class="dropdown-item light_source_dropdown">D65</a></li>
                                <li><a class="dropdown-item light_source_dropdown">D75</a></li>
                            </ul>
                        </div>
                        <button id='analysis' type="button" class="ml-5 col-2 btn btn-success">分析</button>
                    </div>
                </div>
                <!-- 選單位置 -->
                <div class="col-lg-7 col-md-6 col-12">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0 row">
                                    <button class="col-10 btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        選單一
                                    </button>
                                </h2>
                            </div>
                        
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div id="chartdiv"></div>
                                    <div class="row col-12 align-items-center">
                                        <div class="col-7 row align-items-center">
                                            <div class="col-6 text-right">
                                                座標 : 
                                            </div>
                                            <div class="col-6">
                                                X: 120<br> Y: 240<br> Z: 342
                                            </div>
                                        </div>
                                        <div class="col-5 row align-items-center">
                                            <div class="col-6 text-right">
                                                色票 :
                                            </div>
                                            <div class="col-6">
                                                <canvas id="colorchecker" width="100" height="100"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 row justify-content-center ml-2">
                                        <button id='menu_save_1' type="button" class="btn btn-success">儲存</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0 row">
                                    <button class="col-10 btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        選單二
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    還是沒有東西
                                    <div class="col-12 row justify-content-center ml-2">
                                        <button id='menu_save_2' type="button" class="btn btn-success">儲存</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0 row">
                                    <button class="col-10 btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        選單三
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    真的沒有東西
                                    <div class="col-12 row justify-content-center ml-2">
                                        <button id='menu_save_3' type="button" class="btn btn-success">儲存</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h2 class="mb-0 row">
                                    <button class="col-10 btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        選單四
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body">
                                    嘻嘻
                                    <div class="col-12 row justify-content-center ml-2">
                                        <button id='menu_save_4' type="button" class="btn btn-success">儲存</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/spectrum_analysis.js') }}"></script>
    </body>
</html>