<html>
    <head>
        <title>UPLOAD</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='icon/favicon.ico') }}">
        <meta name="robots" content="noindex, nofollow">
        <meta name="googlebot" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 順序要對 -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery-3.5.1.min.js') }}"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Demo platform</a>
        </nav>

        <!-- Page Content -->
        <div class="container mt-3">
            <div class="row col-12 align-items-end">
                <div class="col-lg-11 col-md-9 col-9">
                    <h1>
                        <a class="font-weight-bold text-center text-lg-left" href="/uploadr">上傳</a>
                    </h1>
                </div>
                <div class="col-lg-1 col-md-3 col-3">
                    <button id="add_data" type="button" class="btn btn-success">送出</button>
                    <!-- <button id="yes" type="button" class="btn btn-success">送出</button> -->
                </div>
            </div>
            <hr class="mt-2 mb-5">


            <div class="row" style="margin-bottom: 50px;">
                <div class="col-9 col-md-6 col-lg-3">
                    <input id='image_name_input' type="text" class="form-control" placeholder="輸入要新增的圖片名稱">
                </div>
                <div class="btn-group col-lg-2 col-5 text-center">
                    <button id="dropdown" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        角度選擇
                    </button>
                    <ul id="degree" class="col-12 dropdown-menu text-center">
                        <li><a class="dropdown-item">15°</a></li>
                        <li><a class="dropdown-item">45°</a></li>
                        <li><a class="dropdown-item">75°</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- 第一行檔案選擇 -->
            <div class="row text-center text-lg-left">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    400nm :
                    <form action="/somewhere/to/upload" enctype="multipart/form-data">
                        <input type="file" id="FileInput_400" accept="image/jpeg, image/png" />
                            <a id="one" class="d-block mb-4 h-100">
                            </a>
                    </form>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    450nm :
                    <form action="/somewhere/to/upload" enctype="multipart/form-data">
                        <input type="file" id="FileInput_450" accept="image/jpeg, image/png" />
                            <a id="two" class="d-block mb-4 h-100">
                            </a>
                    </form>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    500nm :
                    <form action="/somewhere/to/upload" enctype="multipart/form-data">
                        <input type="file" id="FileInput_500" accept="image/jpeg, image/png" />
                            <a id="three" class="d-block mb-4 h-100">
                            </a>
                    </form>
                </div>
            </div>
            <!-- 第二行檔案選擇 -->
            <div class="row text-center text-lg-left">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    550nm :
                    <form action="/somewhere/to/upload" enctype="multipart/form-data">
                        <input type="file" id="FileInput_550" accept="image/jpeg, image/png" />
                            <a id="four" class="d-block mb-4 h-100">
                            </a>
                    </form>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    600nm :
                    <form action="/somewhere/to/upload" enctype="multipart/form-data">
                        <input type="file" id="FileInput_600" accept="image/jpeg, image/png" />
                            <a id="five" class="d-block mb-4 h-100">
                            </a>
                    </form>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    650nm :
                    <form action="/somewhere/to/upload" enctype="multipart/form-data">
                        <input type="file" id="FileInput_650" accept="image/jpeg, image/png" />
                            <a id="six" class="d-block mb-4 h-100">
                            </a>
                    </form>
                </div>
            </div>
            <!-- 第三行檔案選擇 -->
            <div class="row text-center text-lg-left">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    700nm :
                    <form action="/somewhere/to/upload" enctype="multipart/form-data">
                        <input type="file" id="FileInput_700" accept="image/jpeg, image/png" />
                            <a  id="seven" class="d-block mb-4 h-100">
                            </a>
                    </form>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Oops !</h5>
                            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button> -->
                        </div>
                        <div class="modal-body">
                            輸入欄位不得為空
                        </div>
                        <div id="footer" class="modal-footer col-12 row">
                            <button id="know" type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Loading Modal -->
            <div>
                <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered justify-content-center align-items-center" role="document">
                        <div class="text-center">
                            <img src="{{ url_for('static', filename='icon/loading.gif') }}"></img>
                            <div style="color: yellow; font-size: medium; font-weight: bold;">Loading...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/uploadr.js') }}"></script>
    </body>
</html>