  .testimonial-group > .row1 {
    overflow-x: auto;
    white-space: nowrap;
    /* display: inherit; */
    flex-wrap: wrap;
  }
  .testimonial-group >  .row1 > .col-xs-12
  {
    display: inline-block;
    float: none;
  }